<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./album.css">
</head>
<body>
    <div class="album-container">
        <div class="album-heading">
            <h1>FEATURED MUSIC ALBUMS</h1>
        </div>
        <div class="albums">
            <div class="album"> 
                <div class="album__child">
                    <div class="album__child--disk">
                            <div class="album__child--cover cover-1">
                                <div class="album__child--layout">
                                    <a href="#"><div class="album__child--button"></div></a>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="album__info">
                    <h2><a href="#">NERVERMIND (1991)</a></h2>
                    <p>200$</p>
                </div>           
            </div>

            <div class="album">
                    <div class="album__child">
                            <div class="album__child--disk">
                                    <div class="album__child--cover cover-2">
                                        <div class="album__child--layout">
                                            <a href="#"><div class="album__child--button"></div></a>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="album__info">
                            <h2><a href="#">IN UTERO (1993)</a></h2>
                            <p>200$</p>
                        </div>   
            </div>

            <div class="album">
                    <div class="album__child">
                            <div class="album__child--disk">
                                    <div class="album__child--cover cover-3">
                                        <div class="album__child--layout">
                                            <a href="#"><div class="album__child--button"></div></a>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="album__info">
                            <h2><a href="#">MTV Unplugged in New York (1994)</a></h2>
                            <p>200$</p>
                        </div>   
            </div>
        </div>
    </div>
</body>
</html>