body {
    margin: 0;
}

/* menu left and menu-right*/
.wrapper {
    background: #000;
    color: #999;
    height: 4rem;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-weight:  bold;
    display: flex;
    justify-content: space-around;
}

.menu-left,
.menu-right {
    display:  flex;
    align-self: center;
}

.icon-left ,
.icon-right,
.icon-left > a,
.icon-right > a {
    color: #999;
    font-size: 13px;
    margin: 12px 5px;
}

.menu-right > a {
    color: #999;
    text-decoration: none;
}

.icon-left i,
.icon-right i,
.login {
    transition: color 0.3s;
}

.icon-right:last-child {
    margin-right: 0;
}

.dash {
    margin: 0 5px;
    font-weight: 100;
    font-size: 8px;
}

.fab:hover,
.login:hover,
.fas:hover {
    color: #FF0;
}

/* make a line and the avatar */
.line {
    height: 5px;
    background-color: #FF0;
}


.background-avatar  {
    position: relative;
    width: 10rem;
    height: 8rem;
    background-size: cover;
    background-position: center;
    background-image: url('./images/nirvana-black.jpg');
    border: 5px solid #FF0;
    border-top: none;
}

.nirvana-avatar {
    height: 100%;
    background-image: url('./images/nirvana-black.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0;    
    transition: all 0.3s;
}

.nirvana-avatar:hover  {
    opacity: 1;
    background-size: 20%;
}